{% extends "base.html" %}
{%block lab%}Лабораторная работа 6{%endblock%}


{% block script %} 
<script>
function getOfficeList() {
    const url = '/lab6/json-rpc-api/';
    const json = {
        'jsonrpc': '2.0',
        'method': 'info',
        'id': Math.round(Math.random()*1000)

    };
        fetch(url, {
            method: 'POST',
            headers: {'Content-type': 'application/json'},
            body: JSON.stringify(json)
        } )
        .then(function(responce){
            return responce.json()
        })
        .then(function(data) {
            const office_list = data.result;
            const ul = document.getElementById('office-list');
            const div2 = document.getElementById('office-price2');
            for (let i=0; i< office_list.length; i++) {
                const office = office_list[i];
                const li = document.createElement('li');
                li.innerText = `${office.number}: ${office.tenant || 'свободен'}-${office.price}р`;
    
                const bookingButton = document.createElement('button');
                const cancellationButton = document.createElement('button');

                bookingButton.style.width = '180px'
                bookingButton.style.height = '30px'
                bookingButton.style.marginLeft = '20px'
                bookingButton.style.borderRadius = '15px'

                cancellationButton.style.width = '180px'
                cancellationButton.style.height = '30px'
                cancellationButton.style.marginLeft = '20px'
                cancellationButton.style.borderRadius = '15px'

                cancellationButton.innerText = 'снять аренду'
                bookingButton.innerText = 'зарезервировать';
                bookingButton.onclick = function() {booking(office.number)};
                cancellationButton.onclick = function(){cancellation(office.number)}
                li.appendChild(bookingButton);
                li.appendChild(cancellationButton);
    
                ul.appendChild(li);}
    
            });
        }


            
function cancellation(officeNumber){
    const url = '/lab6/json-rpc-api/'
    const json = {
        'jsonrpc': '2.0',
        'method': 'cancellation',
        'params': officeNumber,
        'id': Math.round(Math.random()*1000)
    };
    fetch(url,{
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(json)
    })
    .then(function(responce){
        return responce.json()
    })
    .then(function(data){
        if(data.error){
            switch(data.error.code){
                case 1:
                    alert('Вы не авторизированы!');
                    break;
                case 3:
                    alert('Офис не аредуется');
                break;
                case 4:
                    alert('Вы не можете снять этот офис с аренды!');
                break;
                case -32601:
                    alert('Странная ошибка');
                    break;
            }
        }
        else{
            document.getElementById('office-list').innerHTML='';
            getOfficeList();
        }
    });

}
function price(){
    const url = '/lab6/json-rpc-api/'
    const json = {
        'jsonrpc': '2.0',
        'method': 'price',
        'id': Math.round(Math.random()*1000)
    };
    fetch(url,{
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(json)
    })
    .then(function(responce){
        return responce.json()
    })
    .then(function(data){
        if(data.error){
            switch(data.error.code){
                case 1:
                    alert('Вы не авторизированы!');
                    break;
                case -32601:
                    alert('Странная ошибка');
                    break;
            }
        }
        else{
            document.getElementById('office-price2').innerHTML=data.endprice;
        }

    })
}
        
    
function booking(officeNumber){
    const url = '/lab6/json-rpc-api/';
    const json = {
        'jsonrpc': '2.0',
        'method': 'booking',
        'params': officeNumber,
        'id': Math.round(Math.random()*1000)
    };
    fetch(url,{
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(json)
    })
    .then(function(responce){
        return responce.json()
    })
    .then(function(data){
        if(data.error){
            switch(data.error.code){
                case 1:
                    alert('Вы не авторизованы пожалуйста авторизируйтесь');
                    break;
                case 2:
                    alert('Офис уже арендуется');
                    break;
                case -32601:
                    alert('Странная ошибка');
                    break;
            }
        }
        else{
            document.getElementById('office-list').innerHTML='';
            getOfficeList();
        }
    });
}
document.addEventListener('DOMContentLoaded', function(){
    getOfficeList();})
</script>
{% endblock %}


{% block main %}
    <h1>Список кабинетов</h1>
    <ul id="office-list" style="font-size: 18px;"></ul>
<button onclick=price() style="height: 30px; width: 300px; font-size: 15px; border-radius: 15px">Посчитать итоговую цену</button>
<div id="office-price2"></div>

{% endblock %}