{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <style>
        body {
            background-color: lightblue;
        }

    </style>

    <h1>Холодильник</h1>
    <form method="post">
        <label for="temperature">Температура:</label>
        <input type="number" id="temperature" name="temperature" value="{{ temperature }}">
        <button type="submit">Установить температуру</button>
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}