{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 4{% endblock %}

{# основной контент: #}
{% block main %}

    <h1>Формы (POST)</h1>
    <div>Тема лабораторной - Формы (POST). Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab4/div-form">Деление</a></li>
        <li><a href="/lab4/add_form">Сложение</a></li>
        <li><a href="/lab4/sub_form">Вычитание</a></li>
        <li><a href="/lab4/mul_form">Умножение</a></li>
        <li><a href="/lab4/pow_form">Возведение в степень</a></li>
        <li><a href="/lab4/tree">Деревья</a></li>
    </ol>
{% endblock %}