{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}

    <h1>Заказ зерна</h1>
    <form method="post">
        <label for="grain">Выберите зерно:</label>
        <select id="grain" name="grain">
            <option value="ячмень">Ячмень - 12345 руб/т</option>
            <option value="овёс">Овёс - 8522 руб/т </option>
            <option value="пшеница">Пшеница - 8722 руб/т</option>
            <option value="рожь">Рожь - 14111 руб/т</option>
        </select>
        <label for="weight">Введите вес (тонны):</label>
        <input  type="number" id="weight" name="weight">
        <button type="submit">Оформить заказ</button>
        {% if error %}
        <p class="error-message">{{ error }}</p>
        {% endif %}
        {% if message %}
            <p class="success-message">{{ message }}</p>
        {% endif %}
    </form>

</div>
{% endblock %}