{% extends "base.html" %} 
<!-- шаблон указывает, что наследует содержимое из base.html -->

{% block main %}
    <h1>Список книг</h1>
    <table>
        <tr>
            <th>Автор</th>
            <th>Название</th>
            <th>Жанр</th>
            <th>Количество страниц</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.author }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.genre }}</td>
            <td>{{ book.pages }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
