<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if name %} {{name}}, {% else %} Анон, {% endif %}. Лабораторная работа 2</title>
    <link rel="stylesheet" href={{url_for('static', filename='main.css')}}>
</head>
<body>
    <header>
        Web-программирование, часть 2. {% if nomer_lab %}Лабораторная работа 2{% endif %}
    </header>

    <main>
        5 + 2 = {{5+2}} <br>
        11 * 28 = {{11*28}}<br>
        3258 - 759 = {{3258-759}}<br>
        45<sup>8</sup> = {{45**8}}<br>

        <ul>
            {% for f in fruits%}
            <li> {{loop.index}} - {{f.name}}: {{f.price}} &#8381</li>
            {% endfor %}
        </ul>
    </main>

    <footer>
        &copy; 
        {% if name %}
        {{ name }},
        {% else %}
            Анонимус,
        {% endif %} 
        ФБИ-21,
        {% if kurs %}
        {{kurs}} курс,
        {% else %}
            ??
        {% endif %} 
        2024
    </footer>
</body>
</html>