{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 3{% endblock %}

{# основной контент: #}
{% block main %}

    {% if user %}
    <h1>Привет, {{user}}!</h1>
    <h2>Добро пожаловать на наш сайт!</h2>

    <div>Ваш возраст: {{ age }}</div>
    <div>Ваш пол: {{ 'Мужской' if sex == 'male' else 'Женский' }}</div>

    <div>
        <a href="/lab3/form1">Заново</a>
    </div>

    {% else %}

    <h1>Пользователь</h1>

    <form>
        <label>Ваше имя:</label>
        <div>
            <input type="text" placeholder="Как вас зовут?" name="user" value="{{user or ''}}">
            <span style="color: red" class="error">{{errors.user}}</span>
        </div>

        <label>Ваш возраст:</label>
        <div>
            <input type="number" name="age" value="{{age or ''}}">
            <span style="color: red" class="err">{{err.age}}</span>
        </div>

        <label>Ваш пол:</label>
        <div>
            <select name="sex">
                <option value="male" {{sex == 'male' and 'selected'}}>Мужчина</option>
                <option value="female" {{sex == 'female' and 'selected'}}>Женщина</option>
            </select>
        </div>

        <div>
            <button type="submit">Отправить</button>
        </div>
    </form>

    {% endif %}
{% endblock %}