{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 3{% endblock %}

{# основной контент: #}
{% block main %}

<h1>Заказ напитка</h1>

<form action="/lab3/pay">

    <div>
        <div>
            <input type="radio" value="coffee" name="drink" id="coffee" checked>
            <label for="coffee">Кофе - 120₽</label>
        </div>
        <div>
            <input type="radio" value="black-tea" name="drink" id="black-tea">
            <label for="black-tea">Черный чай - 80₽</label>
        </div>
        <div>
            <input type="radio" value="green-tea" name="drink" id="green-tea">
            <label for="green-tea">Зеленый чай - 70₽</label>
        </div>
    </div>

    <div>
        <div>
            <input type="checkbox" name="milk" id="milk">
            <label for="milk">Молоко - 30₽</label>
        </div>
        <div>
            <input type="checkbox" name="sugar" id="sugar">
            <label for="sugar">Сахар - 10₽</label>
        </div>
    </div>

    <div>
        <button type="submit">Заказать</button>
    </div>
</form>
</div>

{% endblock %}