{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <div>
        <h1>Покупка железнодорожного билета</h1>

        <form action="/lab3/ticket">

            <div>
                <label for="passenger_name">ФИО пассажира:</label>
                <input type="text" id="passenger_name" name="passenger_name" required>
            </div>

            <div>
                <label for="passenger_type">Билет:</label>
                <select id="passenger_type" name="passenger_type" required>
                    <option value="child">Детский</option>
                    <option value="adult">Взрослый</option>
                </select>
            </div>

            <div>
                <label for="berth_type">Тип полки:</label>
                <select id="berth_type" name="berth_type" required>
                    <option value="lower">Нижняя</option>
                    <option value="upper">Верхняя</option>
                    <option value="upper_side">Верхняя боковая</option>
                    <option value="lower_side">Нижняя боковая</option>
                </select>
            </div>

            <div>
                <label for="luggage">С багажом:</label>
                <input type="checkbox" id="luggage" name="luggage">
            </div>

            <div>
                <label for="insurance">Страховка:</label>
                <input type="checkbox" id="insurance" name="insurance">
            </div>

            <div>
                <label for="passenger_age">Возраст:</label>
                <input type="number" id="passenger_age" name="passenger_age" required min="1" max="120">
            </div>

            <div>
                <label for="departure_point">Пункт выезда:</label>
                <input type="text" id="departure_point" name="departure_point" required>
            </div>

            <div>
                <label for="destination">Пункт назначения:</label>
                <input type="text" id="destination" name="destination" required>
            </div>

            <div>
                <label for="travel_date">Дата поездки:</label>
                <input type="date" id="travel_date" name="travel_date" required>
            </div>

            <div>
                <button type="submit">Купить билет</button>
            </div>
        </form>
    </div>

{% endblock %}