body {
    background-color: #f0f8ff; /* Цвет фона страницы */
    color: #333; /* Цвет текста */
    font-family: Arial, sans-serif; /* Шрифт */
}

h1 {
    color: #2e8b57; /* Цвет заголовка */
}

img {
    width: 500px; /* Ширина изображения */
    height: auto; /* Высота изображения автоматически подстраивается */
    border: 2px solid #000; /* Рамка вокруг изображения */
}

header {
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
}

 nav { /*/lab1/web">Первая лабораторная */
    flex-grow: 1;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed; /* Закрепляем подвал */
    bottom: 0; /* Всегда находится внизу экрана */
    left: 0; /* Выровнен по левому краю */
}

/* Стили для страницы ошибки 404 */
.error-page {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    padding-top: 50px; /*внутренний отступ внутри элемента*/
}

.error-page h1 {
    color: #ff6347;
}

.error-page p {
    font-size: 20px;
}

.error-page img {
    width: 400px;
    height: auto;
    margin-top: 20px; /*внешний отступ */
}

.error-page a {
    display: inline-block;
    margin-top: 30px; /* внешний отступ */
    padding: 10px 20px; /*внутренний отступ, сверху/снизу и слева/справа*/
    background-color: #ff6347;
    color: white;
    text-decoration: none; /*для удаления любых декоративных элементов текста, таких как подчеркивание, надчеркивание или перечеркивание.*/
    border-radius: 5px; /*закругляет углы блока со ссылкой*/
}

.error-page a:hover {
    background-color: #ff4500;
}

table {
    width: 45%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

thead {
    background-color: #007BFF;
    color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    font-weight: bold;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}