{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: Фильтры — это команды, идущие внутри фигурных скобок после знака «|»:#}
{# Фильтр striptags удалит все теги из фразы/ Фильтр safe разрешит использовать html-теги#}
{% block main %}
    <div>Фраза: {{phrase}}</div>
    <div>Фраза: {{phrase | title }}</div>
    <div>Фраза: {{phrase | striptags }}</div>
    <div>Фраза: {{phrase | safe }}</div>
    <div>Фраза: {{phrase | striptags | replace('сколько', 'много')
            | replace ('нам', 'тут') | upper}}</div>  
{% endblock %}