{% extends "base.html" %}

{% block main %}
    <h1>Список объектов</h1>
    <div class="objects-container">
        {% for obj in objects %}
        <div class="object">
            <h2>{{ obj.name }}</h2>
            <img src="{{ obj.image }}" alt="{{ obj.name }}">
            <p>{{ obj.description }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}

<!-- src="{{ obj.image }}" — это путь к изображению. Значение берется из ключа image объекта obj. 
 Например, если у объекта image='strawberry.jpg', то получится <img src="/static/strawberry.jpg"> -->

 <!-- alt="{{ obj.name }}" — это альтернативный текст для изображения. Значение подставляется из ключа name объекта obj, чтобы в случае, если изображение не загрузится, 
  был виден альтернативный текст. Например, <img src="/static/strawberry.jpg" alt="Клубника"> -->
  <!-- {{ obj.description }} — это вывод описания объекта, которое подставляется из ключа description объекта obj. -->