{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}
{% block main %}

    <h1>Регистрация</h1>

    <form action="/lab8/register" method="post">

        <div>
            <label>
                Логин <input type="text" name="login">
            </label>
        </div>

        <div>
            <label>
                Пароль: <input type="password" name="password">
            </label>

        </div>
        {% if error %}
            <div style="color: red;">{{ error }}</div>
        {% endif %}
        <button type="submit">Зарегистрироватся</button>
    </form>
{% endblock %}
